<!DOCTYPE html>
<html>
    <head>
        <title>Admin App Menu</title>
        <link rel="Stylesheet" href="static\styles\dashboard.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <body class="general">

        <div class="header">
            <div class="left-section">
                WELCOME ADMIN
            </div>
            <div class="right-section">
                <a href="/logout" class="logout-text">Logout</a>
            </div>
        </div>

        <div class="container">
            <div class="icon">
                <div>
                    <a href="/adminpage_userview">
                        <img src="static\images\photo-1.png"  class="icon-p">
                    </a>
                </div>
                <div class="icon-text">
                    <a href="/adminpage_userview" class="icon-text">View Users</a>
                </div>
            </div>
    
    
            <div class="icon">
                <div>
                    <a href="/adminpage_signup">
                        <img src="static\images\photo-1.png"  class="icon-p">
                    </a>
                </div>
                <div class="icon-text">
                    <a href="/adminpage_signup" class="icon-text">Add User</a>
                </div>
            </div>

            
        </div>
        


    </body>
</html>