<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" href="static\images\Logo-short-nobg.png">
    <link rel="stylesheet" href="static\styles\home.css">
  </head>
  
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="static\images\Logo-short-nobg.png" width="80px">
          <img src="static\images\AIDIT-LOGO.png" width="80px" >
        </div>

        <div class="menu">
          <a></a>
          <a></a>
        </div>
        
        <div class="login"> 
          <a href="/login">Sign In</a>
        </div>
      </nav>
      <section class = "h-text">

        <h1>Employee Management, Simplified!</h1>
        <br><br><br><br>
        <p>Welcome to AidIt, your one-stop solution for daily task facilitation and assistance!</p>

      </section>
    </header>
    
      
  
  </body>
</html>