/* body{margin-top:20px;} */
.schedule-table table thead tr {
background: #196273;
}
.schedule-table table thead th {
font-family: 'Montserrat';
padding: 25px 50px;
color: #fff;
text-align: center;
font-size: 18px;
font-weight: 800;
position: relative;
border: 0;
}
.schedule-table table thead th:before {
content: "";
width: 5px;
height: 35px;
background: rgba(255, 255, 255, 0.2);
position: absolute;
right: -1px;
top: 50%;
transform: translateY(-50%);
}
.schedule-table table thead th.last:before {
content: none;
}
.schedule-table table tbody td {
font-family: 'Montserrat';
font-weight: 300;
vertical-align: middle;
border: 1px solid #e2edf8;
font-weight: 500;
padding: 30px;
text-align: center;
}
.schedule-table table tbody td.day {
font-family: 'Montserrat';
font-weight: 300;
font-size: 22px;
font-weight: 600;
background: #f0f1f3;
border: 1px solid #e4e4e4;
position: relative;
transition: all 0.3s linear 0s;
min-width: 165px;
}
.schedule-table table tbody td.active {
font-family: 'Montserrat';
font-weight: 300;
position: relative;
z-index: 10;
transition: all 0.3s linear 0s;
min-width: 165px;
}
.schedule-table table tbody td.active h4 {
font-family: 'Montserrat';
font-weight: 300;
font-weight: 700;
color: #000;
font-size: 16px;
margin-bottom: 5px;
}
.schedule-table table tbody td.active p {
font-family: 'Montserrat';
font-weight: 300;
font-size: 16px;
line-height: normal;
margin-bottom: 0;
}
.schedule-table table tbody td .hover h4 {
font-family: 'Montserrat';
font-weight: 300;
font-weight: 700;
font-size: 20px;
color: #ffffff;
margin-bottom: 5px;
}
.schedule-table table tbody td .hover p {
font-family: 'Montserrat';
font-weight: 300;
font-size: 16px;
margin-bottom: 5px;
color: #ffffff;
line-height: normal;
}
.schedule-table table tbody td .hover span {
font-family: 'Montserrat';
font-weight: 300;
color: #ffffff;
font-weight: 600;
font-size: 18px;
}
.schedule-table table tbody td.active::before {
font-family: 'Montserrat';
font-weight: 300;
position: absolute;
content: "";
min-width: 100%;
min-height: 100%;
transform: scale(0);
top: 0;
left: 0;
z-index: -1;
border-radius: 0.25rem;
transition: all 0.3s linear 0s;
}
.schedule-table table tbody td .hover {
font-family: 'Montserrat';
font-weight: 300;
position: absolute;
left: 50%;
top: 50%;
width: 120%;
height: 120%;
transform: translate(-50%, -50%) scale(0.8);
z-index: 99;
background: #ace5f2;
border-radius: 0.25rem;
padding: 25px 0;
visibility: hidden;
opacity: 0;
transition: all 0.3s linear 0s;
}
.schedule-table table tbody td.active:hover .hover {
font-family: 'Montserrat';
font-weight: 300;
transform: translate(-50%, -50%) scale(1);
visibility: visible;
opacity: 1;
}
.schedule-table table tbody td.day:hover {
font-family: 'Montserrat';
font-weight: 300;
background: #ace5f2;
color: #fff;
border: 1px solid #ace5f2;
}
@media screen and (max-width: 1210px) {
.schedule-table {
display: block;
width: 100%;
overflow-x: auto;
}
.schedule-table table thead th {
padding: 25px 40px;
}
.schedule-table table tbody td {
padding: 20px;
}
.schedule-table table tbody td.active h4 {
font-size: 18px;
}
.schedule-table table tbody td.active p {
font-size: 15px;
}
.schedule-table table tbody td.day {
font-size: 20px;
}
.schedule-table table tbody td .hover {
padding: 15px 0;
}
.schedule-table table tbody td .hover span {
font-size: 17px;
}
}
@media screen and (max-width: 1100px) {
.schedule-table table thead th {
font-size: 14px;
padding: 20px;
}
.schedule-table table tbody td.day {
font-size: 18px;
}
.schedule-table table tbody td.active h4 {
font-size: 17px;
}
}
@media screen and (max-width: 800px) {
.schedule-table table thead th {
padding: 13px;
}
.schedule-table table tbody td {
padding: 15px;
}
.schedule-table table tbody td.active h4 {
font-size: 16px;
}
.schedule-table table tbody td.active p {
font-size: 14px;
}
.schedule-table table tbody td .hover {
padding: 10px 0;
}
.schedule-table table tbody td.day {
font-size: 18px;
}
.schedule-table table tbody td .hover span {
font-size: 15px;
}
}
@media screen and (max-width: 600px) {
.schedule-table table tbody td.day {
min-width: 135px;
}
}

.updatebutton{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    transition: all 0.4s;
    color: #196273;
}
.updatebutton:hover{
    padding: 4px;
    background-color: #196273;
    color: white;
    text-decoration: none;
}